page-login {

}
.toolbar-title-md {
  text-align: center;
}
.login {
    background:url(../../assets/imgs/login_bg.jpg);
}
.login_item_first {
}
.rent_logo {
    margin-top: 35%;
    margin-left: 37.5%;
    width: 25%;
}
.login_input {
    background:rgba(255,255,255,0);
    color: #f3f1f1;
}
