<ion-header>

  <ion-navbar style="opacity: 0.8" color="primary">
    <ion-title>商品列表</ion-title>
  </ion-navbar>

</ion-header>


<ion-content style="background-color: #efefef">
  <ion-row wrap style="padding-top: 3px;">
    <ion-col tappable col-6 *ngFor="let p of products" (click)="goDetails(p)" class="list-product-content">
      <!--![]({{p.imgUrl}})-->
      <img src="{{p.imgUrl}}">
      <p>{{p.title}}</p>
      <div class="list-price buy">
        <span class="price-new"><i>￥</i>{{p.productPrice}}</span>
        <i class="del" style="text-decoration: line-through;">￥<span>{{p.productCheap}}</span></i>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="nodata" text-center *ngIf="!hasmore">
      没有商品啦 (^∇^*)
    </ion-col>
  </ion-row>
</ion-content>
