page-home {
  .searchbar-input{
    padding: 6px 10px !important;
    border-radius: 8px !important;
    height: 40px !important;
    color: white !important;
    background-color: rgba(255,255,255,0.05) !important;
    box-shadow: 0 0 0 0 !important;
    -webkit-box-shadow: 0 0 0 0 !important;
  }
  .searchbar-input::-webkit-input-placeholder {
    color: rgba(255,255,255,0.5) !important;
  }
  .searchbar-input-container{
    //width: 80% !important;
  }
  .searchbar-search-icon{
    display: none;
  }
  .homeslides{
    height: 37%;
  }
  .home_row{
    margin-top: 10px;
  }
  .home_row .col{
    position: relative;
    text-align: center;
  }
  .home_row .home_row_ico{
    width: 60px;
    height: 60px;
  }
  .home_content{
    width: 100%;
    margin-top: 20px;
  }
  .home_content .row {
    height: 85px;
  }
  .home_content .home_icon_title span{
    font-size: 1.7rem;
  }
  .home_content .home_icon_title p{
    color: rgb(143,143,144)
  }
  .home_content .row img{
    width: 70%;
    height: 60%;
    margin-top: 20%;
  }
  .home_content .root_col{
    background-color: #F2F2F2;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
  }
  .home_content .col1{
    margin: 0px 5px 5px 10px;
  }
  .home_content .col2{
    margin: 0px 10px 5px 5px;
  }
  .home_content .col3{
    margin: 5px 5px 0px 10px;
  }
  .home_content .col4{
    margin: 5px 10px 0px 5px;
  }
  .slide-box_self{
    margin-top: 10px;
    display: -webkit-box;
    overflow-x: scroll;
    -webkit-overflow-scrolling:touch;
  }
  .slide-item_self{
    width: 200px;
    height: 200px;
    border:1px solid #ccc;
    border-radius: 6px;
    text-align: left;
    //overflow: hidden;
    margin-right: 30px;
  }
  .slide-item_self img{
    width: 200px;
    border-radius: 6px;
    height: 130px;
  }
  .slide-item_self .car_text{
    padding-left: 10px;
    position: relative;
  }
}

