page-setting {
  .toolbar-title{
    width: 80% !important;
  }
  .scroll-content{
    overflow: hidden;
  }

  .bg-color{
    background-color: #efefef;
  }

  .top-list{
    margin-top: 15px;
  }
}
